@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.home-container {
  color: #fff;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  display: flex;
  width: 120px;
  height: auto;
  background-image: url(assets/logo_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.text {
  display: flex;
  gap: 60px;
  /* ← espacio entre los <a> */
  color: #fff;
  font-size: 1.5rem;
}

.text a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text a:hover {
  color: #537e5f;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 150px;
  /* Espacio entre logo y texto */
}

.icon-svg {
  width: 20px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.center {
  display: flex;
  flex-direction: column;
  /* ← Apila los hijos verticalmente */
  align-items: center;
  /* ← Centra horizontalmente */
  justify-content: center;
  margin-top: 0%;
  background-color: #808080;
}

.center2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.center3 {
  display: flex;
  flex-direction: row;
  /* ← Apila los hijos verticalmente */
  align-items: center;
  /* ← Centra horizontalmente */
  justify-content: center;
  margin-top: 0%;
  background-color: #808080;
}

.title {
  display: flex;
  font-size: 540%;
  color: #fff;
  margin: 2%;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  display: flex;
  font-size: 450%;
  color: #fff;
  margin: 2%;
  font-family: 'Montserrat', sans-serif;
}

.info {
  display: flex;
  font-size: 180%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.years-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.info-email-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 90px;
  /* Espacio entre logo y texto */
}

.police {
  display: flex;
  flex-direction: column;
  /* ← Apila los hijos verticalmente */
  align-items: center;
  /* ← Centra horizontalmente */
  justify-content: center;
  margin-top: 20%;
  font-size: 14px;
}

.selector-container {
  display: flex;
  flex-direction: row;
  /* Alinea horizontalmente */
  justify-content: center;
  /* Centra horizontalmente */
  flex-wrap: wrap;
  /* Permite que se muevan a la siguiente línea si no caben */
  gap: 20px;
  /* Espaciado entre botones */
  margin-top: 20px;
}