@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.loading-container {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* Espacio entre los elementos */
}

.loading-logo {
    height: 150px;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.loading-text {
  display: flex;
  gap: 8px;
  font-size: 3rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.loading-text span {
  opacity: 0;
  transform: translateY(20px);
  display: inline-block;
  animation: fadeInLetter 1s forwards;
}

.loading-text span:nth-child(1) { animation-delay: 0.1s; }
.loading-text span:nth-child(2) { animation-delay: 0.2s; }
.loading-text span:nth-child(3) { animation-delay: 0.3s; }
.loading-text span:nth-child(4) { animation-delay: 0.4s; }
.loading-text span:nth-child(5) { animation-delay: 0.5s; }
.loading-text span:nth-child(6) { animation-delay: 0.6s; }
.loading-text span:nth-child(7) { animation-delay: 0.7s; }
.loading-text span:nth-child(8) { animation-delay: 0.8s; }
.loading-text span:nth-child(9) { animation-delay: 0.9s; }
.loading-text span:nth-child(10){ animation-delay: 1.0s; }

@keyframes fadeInLetter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.year-text {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: #fff;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
  
  

}


