.home-container {
    color: #fff;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans';
}

.logo {
    display: flex;
    width: 120px;
    height: 50px;
    background-image: url(assets/logo_2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.text {
  display: none;
  gap: 60px; /* ← espacio entre los <a> */
  color: #fff;
  font-size: 1.5rem;
}
@media screen and (min-width: 769px) {
  .text {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    padding: 0;
    text-align: left;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .text {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 1rem;
    text-align: right;
    z-index: 1001;
  }
  .text.mostrar {
    display: flex;
  }
  .text a {
    margin: 0.5rem 0;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
}

.text a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text a:hover {
  color: #537e5f;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 150px;
    /* Espacio entre logo y texto */
}